.section {
	min-height: 400px;
}

#start {

	h2 {
		display: none;
	}

	.outer {
		position: relative;
		border: 20px solid @splash-border-color;
		width: 100%;
		height: 80vh;
		background-color: @splash-border-color-bg;
	}

	.inner-container {
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		font-size: 7em;
		font-family: @font-header-family;
	}
}

#varfor {
	background: url('../assets/hogdalen_buss.jpg') no-repeat;
	background-size: 100% auto;
}

#kontakt {
	background: url('../assets/ragsved_natt.jpg') no-repeat;
	background-size: 100% auto;

	color: @gray-lighter;
}