
// ********** Navigation ************

// Bootstraps

@navbar-default-bg: 				#ffbd70;
@navbar-default-color:				#000;

@navbar-default-brand-hover-color:	lighten(@navbar-default-color, 20%);
@navbar-default-brand-hover-bg:		lighten(@navbar-default-bg, 5%);

@navbar-default-link-color:			#000;

@navbar-default-link-hover-color:	@navbar-default-brand-hover-color;
@navbar-default-link-hover-bg:		@navbar-default-brand-hover-bg;

// Customz

@navbar-height:						120px;
@navbar-font-size:					2em;